<% obj.each do |a| %>
  <article class='row <%= a.id %>'>
    <div class='col-md-8 col-md-offset-2'>
      <div class="panel panel-info">
        <div class="panel-heading">
          <strong class='articles-index-articleTitleInPanel'><%= a.title %></strong>
        </div>
        <div class="panel-body">
          <%= a.description %>
          <hr />
          <div>
            <small>
              <strong>Created by:</strong> <%= link_to a.user.username, user_path(a) if a.user && a.user.id %><br  />
              <strong>Created:</strong> <%= time_ago_in_words(a.created_at) %> ago<br  />
              <strong>Last updated:</strong> <%= time_ago_in_words(a.updated_at) %> ago.
            </small>
          </div>
          <section class='articles-comments-section'>
            <header class='article-comments-visibility'>
              <span>View comments</span>
              <span class='badge'><%= a.comments.length %></span>
            </header>
            <section class='article-comments-body'>
              <% a.comments.each do |comment| %>
              <%= render 'articles/comment', article: a, comment: comment %>
              <% end %>
            </section>
          </section>
        </div>
        <% if logged_in? %>
        <div class='panel-footer articles-comments-form'>
          <div class='article-comment-form-error'>
            <% # this area gets filled dynamically with javascript upon form error %>
          </div>
          <%= form_for [a, @comment], url: article_comments_path([a, @comment]), html: {class: 'new-comment-form'}, remote: true do |f| %>
            <%= f.text_area :text, placeholder: 'Comment...', class: 'articles-comments-input-field form-control' %>
          <% end %>
          <small class='number-of-characters-in-comment-wrapper'>Characters: <span class='number-of-characters-in-comment'>0</span></small>
        </div>
        <div class="panel-footer articles-index-articleActions">
          <%= link_to "<button class='btn btn-sm btn-primary'>View</button>".html_safe, article_path(a) %>
          <%= link_to "<button class='btn btn-sm btn-primary'>Edit</button>".html_safe, edit_article_path(a) if logged_in? && current_user == a.user %>
          <%= link_to "<button class='btn btn-sm btn-danger'>Delete</button>".html_safe, article_path(a), :method => 'delete', remote: true, class: 'delete_article' if logged_in? && current_user == a.user %>
        </div>
        <% end %>
      </div>
    </div>
  </article>
<% end %>
