<% obj.each do |a| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <strong><%= a.title %></strong>
    </div>
    <div class="panel-body">
      <article>
        <%= a.description %>
        <hr />
        <small>
          <strong>Created by:</strong> <%= link_to a.user.username, user_path(a) if a.user && a.user.id %><br  />
          <strong>Created:</strong> <%= time_ago_in_words(a.created_at) %> ago<br  />
          <strong>Last updated:</strong> <%= time_ago_in_words(a.updated_at) %> ago.
        </small>
      </article>
    </div>
    <div class="panel-footer">
      <%= link_to "<button class='btn btn-sm btn-primary'>Show</button>".html_safe, article_path(a) %>
      <%= link_to "<button class='btn btn-sm btn-primary'>Edit</button>".html_safe, edit_article_path(a) %>
      <%= link_to "<button class='btn btn-sm btn-danger'>Delete</button>".html_safe, article_path(a), :method => 'delete' %>
    </div>
  </div>
<% end %>
