<div class='container articles-index-pageContent'>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <h2 class='page-header articles-index-createNewArticleBtnWrapper'>Listing all articles
        <%= link_to "<button class='btn btn-primary'>Create new article</button><div class='glyphicon glyphicon-edit'></div>".html_safe, new_article_path %>
      </h2>
    </div>
  </div>
  <div class='center-in-block articles-index-topPagination'>
    <%= will_paginate %>
  </div>
  <% if @articles.length == 0 %>
    <div class='row'>
      <div class='col-md-8 col-md-offset-2'>
        <h4>
          There are no articles to show. <%= link_to 'Create the first article!', new_article_path %>
        </h4>
      </div>
    </div>
  <% end %>
  <%= render 'articles_listing', obj: @articles %>
  <div class='center-in-block'>
    <%= will_paginate %>
  </div>
</div>
