<div class='container articles-index-pageContent'>
  <h2 class='page-header'>Listing all articles
    <%= link_to "<button class='btn btn-primary articles-index-createNewArticleBtn'>Create new article</button>".html_safe, new_article_path %>
  </h2>
  <% @articles.each do |a| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong><%= a.title %></strong>
      </div>
      <div class="panel-body">
        <article>
          <%= a.description %>
        </article>
      </div>
      <div class="panel-footer">
        <%= link_to "<button class='btn btn-sm btn-primary'>Show</button>".html_safe, article_path(a) %>
        <%= link_to "<button class='btn btn-sm btn-primary'>Edit</button>".html_safe, edit_article_path(a) %>
        <%= link_to "<button class='btn btn-sm btn-danger'>Delete</button>".html_safe, article_path(a), :method => 'delete' %>
      </div>
    </div>
  <% end %>
</div>
