<div class='container users-index-pageContent'>
  <div class='row'>
    <div class='col-sm-4 col-sm-offset-4 center-in-block'>
      <h2 class='page-header'>All users</h2>
    </div>
  </div>
  <div class='center-in-block'>
    <%= will_paginate %>
  </div>
  <% @users.each do |u| %>
    <div class='row'>
      <div class='col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 users-index-userEntry'>
        <ul class='center-in-block'>
          <li><%= link_to gravatar_for(u), user_path(u) %></li>
          <li><%= link_to u.username, user_path(u) %></li>
          <li><small><%= pluralize(u.articles.count, "article") if u.articles %></small></li>
        </ul>
      </div>
    </div>
    <br />
    <br />
  <% end %>
  <div class='center-in-block'>
    <%= will_paginate %>
  </div>
</div>
